{% extends 'base.html.twig' %}

{% block title %}Modification d'article{% endblock %}

{% block body %}
    <h1>Modification de l'article</h1>
    {{ include('article/_form.html.twig', {action:'Modifier'}) }}
{% endblock %}
